<!DOCTYPE html>
<head>
    <title id="pageTitle">Users</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/my_script.js" defer></script>
    <!--This is where css and script language goes-->
</head>


<body>
    <div class="title">
        Borrow'r!!
    </div>
    <div class="par">
        Turn your household items into passive income or some money by borrowing items instead of buying. Sign up in no time by clicking the Sign Up button:
    </div>
    <a href="/signup">
        <button class="button">
            Sign Up
        </button>
    </a>
    <br>
    <a href="/login">
        <button class="button">
            Log in
        </button>
    </a>
</body>