<!DOCTYPE html>
<head>
    <title id="pageTitle">Search</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/search.js" defer></script>
    <!--This is where css and script language goes-->
</head>


<body>
    <div class="title">
        Search
    </div>
    <div class="par">
        Search for available items.
    </div>
    <div class="aboveBar">
        Enter keyword(s) to search:
    </div>
    <div class="textBar">
        <input type="text" id="query_string" name="query_string">
    </div>
    <div class="aboveBar">
        Results:
    </div>
    <div id="table_container">
    
    </div>
    <table>
        <tr class="table_top" display="">
            <th>Name</th>
            <th>Value</th>
            <th>Rate</th>
            <th></th>
            <th></th>
        </tr> 

    </table>


    {% for item in items_db %}
        {% if item['status'] == 'unloaned' and item['owner'] != user_data['active_user'] %}
            <mything id="{{item['id']}}" status="{{item['status']}}" name="{{item['name']}}" value="{{item['value']}}"  rate="{{item['rate']}}"></mything>
        {% endif %}
    {% endfor %}

    
    <br>
    <a href="/user_cp">
        <button class="button">
            Back to Main Menu
        </button>
    </a>
    <br>
</body>