<!DOCTYPE html>
<head>
    <title id="pageTitle">Users</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/my_script.js" defer></script>
    <!--This is where css and script language goes-->
</head>


<body>
    <div class="title">
        test
    </div>
</body>